<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Services</title>
    </head>
    <body>
        <div class="parent-fragment" th:fragment="parent(x,y)">
            <h1>This is parent fragment</h1>
            <p>Lorem ipsum dolor sit amet, con!</p>
            <h1>Value of x is <span th:text="${x}"></span> </h1>
            <h1>Value of x is <span th:text="${y}"></span> </h1>
        </div>
    </body>
</html>


